.datomic-browser {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: left;
}

.datomic-browser .flex-row {
  display: inline;
  flex-direction: row;
  width: 49%;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

textarea {
    border: none;
    padding: 5px;
    outline: none;
    width: 49%;
    height: 50%;
    border-radius: 0px;
    font-size: 10pt;
    color: #f4f4f4;
    background: #616161;
}
