.datomic-browser {
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: left;
}

.datomic-browser .flex-row {
  display: inline;
  flex-direction: row;
  width: 49%;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.query-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.query-area .CodeMirror {
    width: 40%;
}
